@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
/*@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}*/
            body {
         font-family: Arial, sans-serif;
         background-color: #dddddd;
         color: rgba(0,0,0,1);
         background: url("../_imagens/fundo.jpg") no-repeat center;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
          background-size: cover;
            }
            
           div#interface {
                width: 1100px;
                background-color: rgba(256,256,256,.6);
                margin: -20px auto 0px auto;
                box-shadow: 0px 0px 10px rgba(0,0,0,.5);
                padding: 10px;
                border-radius: 5px;
            }
            
            p {
                font-family: Arial, sans-serif;
                text-align: justify;
                text-indent: 50px;
                }
                
                a {
                    color: #343a5c;
                    text-decoration: none; 
                }
                
                a:hover {
                  text-decoration: underline;  
                }
                
                header#cabecalho img#icone {
                    position: relative;
                    left: 930px;
                    bottom: 90px;
                }
                
                header#cabecalho img#predio {
                    position: relative;
                    left: -5px;
                    bottom: -5px;
                }
                
                
                header#cabecalho {
                   border-bottom: 1px #606060 solid;
                   height: 130px;
                }
                
                header#cabecalho h1 {
                    font-family: 'Titillium Web', sans-serif;
                    font-size: 30pt;
                    color: #ffffff;
                    text-shadow: 2px 2px 2px rgba(0,0,0,.8);
                    padding: 0px;
                    margin-top: 0px;
                }
                
                .direita {
                    text-align: right;
                }
                
                header#cabecalho h2 {
                    font-family: 'Titillium Web', sans-serif;
                    color: #ffffff;
                    text-shadow: 2px 2px 2px black;
                    font-size: 15pt;
                    padding: 0px;
                    margin-top: -36px;
                }
                
                header#cabecalho h3 {
                    font-family: 'Titillium Web', sans-serif;
                    color: #000000;
                    font-size: 13pt;
                    padding: 0px;
                    margin-top: -20px;
                    text-indent: 30px;
                }
            
/* Formatação de imagens com legendas  */

figure.foto-legenda {
    position: relative;
    width: 100%;
    margin-left: 0px;
    border: 1px solid #ffffff;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
   
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color:rgba(0,0,0,.4); 
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
	opacity: 1;
	position: absolute;
    }
    
        aside#lateral {
          display: block;
          width: 400px;
          float: right;
          background-color: rgba(127,135,146,.5);
          padding: 20px;
          margin-top: -385px;
          box-shadow: 2px 2px 2px rgba(0,0,0,.5);
        }

    /* Formatação do Menu */
    
    nav#menu {
        display: block;
    }
    
    nav#menu ul {
      list-style: none;
      text-transform: uppercase;
      position: absolute;
      top: -20px;
      left: 930px;
      }
      
      nav#menu li {
         display: inline-block;
         background-color: #6a7d83;
         padding: 10px;
         transition: background-color 1s;
      }
      
      nav#menu li:hover {
        background-color: #dddddd;  
      }
      
      nav#menu h1 {
         display: none; 
      }
      
      nav#menu a {
         color: #ffffff; 
         text-decoration: none;
      }
      
      nav#menu a:hover {
          color: #000000;
          
      }
      
      section#corpo {
         display: block;
         width: 650px;
      }
      
      article#noticia-principal h2 {
          font-size: 12pt;
          color: #606060;
          background-color: #dddddd;
          padding: 5px 0px 5px 10px;
          margin: 10px 0px 10px 0px;
      }
      
      header#cabecalho-artigo h1 {
          font-family: 'Titillium Web' , sans-serif;
          font-size: 20pt;
          color: #ffffff;
          text-shadow: 1px 1px 2px black;
          margin-bottom: 0px;
          margin-top: 0px;
      }
      
      header#cabecalho-artigo h2 {
          font-size: 12pt;
          color: #433c58;
          text-shadow: 1px 1px 1px white;
      }
      
      footer#rodape {
          clear: both;
          border-top: 1px solid #606060;
      }
      
      footer#rodape p {
         text-align: center; 
      }